<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Extract-opinion-units-and-save-as-CSV" data-toc-modified-id="Extract-opinion-units-and-save-as-CSV-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Extract opinion units and save as CSV</a></span></li></ul></div>

# Extract opinion units and save as CSV

In [1]:
import os
import pandas as pd

In [2]:
path = os.getcwd()

In [3]:
subfolder = "/../data/2_opinion_units/"

In [4]:
filename = "app_reviews_airvisual-air-quality-forecast_1048912974_by_lang_us_exp_abb_ou_v3.csv"

In [5]:
df = pd.read_csv(path+subfolder+filename)

In [6]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,review_id,rating,title,review_date,user_name,review,response_id,dev_response,response_date,lang,title_expanded,review_expanded,opinion_unit,opi_id
0,0,0,3095,6121840341,5,Happy to finally see when and why I can’t brea...,2020-06-25T23:18:57Z,Abbsteroni,Having allergies is annoying but I’m glad to s...,NaN,NaN,NaN,en,Happy to finally see when and why I ca n’t bre...,Having allergies is annoying but I ’m glad to ...,Happy to finally see when and why I ca n’t bre...,0
1,1,0,3095,6121840341,5,Happy to finally see when and why I can’t brea...,2020-06-25T23:18:57Z,Abbsteroni,Having allergies is annoying but I’m glad to s...,NaN,NaN,NaN,en,Happy to finally see when and why I ca n’t bre...,Having allergies is annoying but I ’m glad to ...,Having allergies is annoying,1
2,2,0,3095,6121840341,5,Happy to finally see when and why I can’t brea...,2020-06-25T23:18:57Z,Abbsteroni,Having allergies is annoying but I’m glad to s...,NaN,NaN,NaN,en,Happy to finally see when and why I ca n’t bre...,Having allergies is annoying but I ’m glad to ...,but I ’m glad to see this and know when to tak...,2
3,3,1,982,6114444527,5,Super,2020-06-24T02:12:59Z,WillJosue,Easy to keep track on specific Local areas,NaN,NaN,NaN,en,Super,Easy to keep track on specific Local areas,Super,3
4,4,1,982,6114444527,5,Super,2020-06-24T02:12:59Z,WillJosue,Easy to keep track on specific Local areas,NaN,NaN,NaN,en,Super,Easy to keep track on specific Local areas,Easy to keep track on specific Local areas,4

In [7]:
del df['Unnamed: 0']

In [8]:
del df['Unnamed: 0.1']

In [9]:
del df['Unnamed: 0.1.1']

In [10]:
df.head()

,review_id,rating,title,review_date,user_name,review,response_id,dev_response,response_date,lang,title_expanded,review_expanded,opinion_unit,opi_id
0,6121840341,5,Happy to finally see when and why I can’t brea...,2020-06-25T23:18:57Z,Abbsteroni,Having allergies is annoying but I’m glad to s...,NaN,NaN,NaN,en,Happy to finally see when and why I ca n’t bre...,Having allergies is annoying but I ’m glad to ...,Happy to finally see when and why I ca n’t bre...,0
1,6121840341,5,Happy to finally see when and why I can’t brea...,2020-06-25T23:18:57Z,Abbsteroni,Having allergies is annoying but I’m glad to s...,NaN,NaN,NaN,en,Happy to finally see when and why I ca n’t bre...,Having allergies is annoying but I ’m glad to ...,Having allergies is annoying,1
2,6121840341,5,Happy to finally see when and why I can’t brea...,2020-06-25T23:18:57Z,Abbsteroni,Having allergies is annoying but I’m glad to s...,NaN,NaN,NaN,en,Happy to finally see when and why I ca n’t bre...,Having allergies is annoying but I ’m glad to ...,but I ’m glad to see this and know when to tak...,2
3,6114444527,5,Super,2020-06-24T02:12:59Z,WillJosue,Easy to keep track on specific Local areas,NaN,NaN,NaN,en,Super,Easy to keep track on specific Local areas,Super,3
4,6114444527,5,Super,2020-06-24T02:12:59Z,WillJosue,Easy to keep track on specific Local areas,NaN,NaN,NaN,en,Super,Easy to keep track on specific Local areas,Easy to keep track on specific Local areas,4

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8275 entries, 0 to 8274
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   review_id        8275 non-null   int64
 1   rating           8275 non-null   int64
 2   title            8275 non-null   object
 3   review_date      8275 non-null   object
 4   user_name        8275 non-null   object
 5   review           8275 non-null   object
 6   response_id      41 non-null     float64
 7   dev_response     41 non-null     object
 8   response_date    41 non-null     object
 9   lang             8275 non-null   object
 10  title_expanded   8275 non-null   object
 11  review_expanded  8275 non-null   object
 12  opinion_unit     8275 non-null   object
 13  opi_id           8275 non-null   int64
dtypes: float64(1), int64(3), object(10)
memory usage: 905.2+ KB

In [12]:
df.tail()

,review_id,rating,title,review_date,user_name,review,response_id,dev_response,response_date,lang,title_expanded,review_expanded,opinion_unit,opi_id
8270,1343052514,1,Has Potential,2016-03-05T10:34:28Z,Snwbrdrgrl79,I got this app a few weeks ago because it seem...,NaN,NaN,NaN,en,Has Potential,I got this app a few weeks ago because it seem...,"I 'm currently residing in Sasebo Japan , wher...",8270
8271,1343052514,1,Has Potential,2016-03-05T10:34:28Z,Snwbrdrgrl79,I got this app a few weeks ago because it seem...,NaN,NaN,NaN,en,Has Potential,I got this app a few weeks ago because it seem...,I have a 9 mos old son and a 5 yr old,8271
8272,1343052514,1,Has Potential,2016-03-05T10:34:28Z,Snwbrdrgrl79,I got this app a few weeks ago because it seem...,NaN,NaN,NaN,en,Has Potential,I got this app a few weeks ago because it seem...,I 'm trying to keep from developing childhood ...,8272
8273,1343052514,1,Has Potential,2016-03-05T10:34:28Z,Snwbrdrgrl79,I got this app a few weeks ago because it seem...,NaN,NaN,NaN,en,Has Potential,I got this app a few weeks ago because it seem...,That 's why air quality is so important to me .,8273
8274,1343052514,1,Has Potential,2016-03-05T10:34:28Z,Snwbrdrgrl79,I got this app a few weeks ago because it seem...,NaN,NaN,NaN,en,Has Potential,I got this app a few weeks ago because it seem...,Hope they can work out the bugs ! !,8274

In [13]:
df_out = df[['opi_id', 'opinion_unit', 'review_id', 'rating']]

In [14]:
df_out

,opi_id,opinion_unit,review_id,rating
0,0,Happy to finally see when and why I ca n’t bre...,6121840341,5
1,1,Having allergies is annoying,6121840341,5
2,2,but I ’m glad to see this and know when to tak...,6121840341,5
3,3,Super,6114444527,5
4,4,Easy to keep track on specific Local areas,6114444527,5
...,...,...,...,...
8270,8270,"I 'm currently residing in Sasebo Japan , wher...",1343052514,1
8271,8271,I have a 9 mos old son and a 5 yr old,1343052514,1
8272,8272,I 'm trying to keep from developing childhood ...,1343052514,1
8273,8273,That 's why air quality is so important to me .,1343052514,1
8274,8274,Hope they can work out the bugs ! !,1343052514,1

In [15]:
export_filename = "opi_units_"+filename[:-29][12:]+".csv"
export_filename

'opi_units_airvisual-air-quality-forecast_1048912974.csv'

In [16]:
df_out.to_csv(path+subfolder+export_filename, sep = ';')